<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhang26.weshareserver.mapper.GroupAlbumMapper">

    <select id="getByGroupIdAndAlbumId" resultType="model.GroupAlbum">
        select * from group_album where album_id = #{albumId} and group_id=#{groupId}
    </select>

    <select id="getByGroupId" resultType="model.GroupAlbum">
        select * from group_album where group_id=#{groupId}
    </select>

    <select id="getByAlbumId" resultType="model.GroupAlbum">
        select * from group_album where album_id=#{albumId}
    </select>



    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into group_album(group_id,album_id)
        values(#{groupId},#{albumId})
    </insert>

    <delete id="deleteByAlbumId">
        delete from group_album
        where album_id=#{albumId}
    </delete>


</mapper>
